
.navbar{
    background-color: #009688;
}

.hover-text{
    color: white;
    color: black;
    transition: color 0.3s, color 0.3s;
}

.hover-text:hover {
    color: black;
    color: white;
  }

/* div > a{
    color: white;
}

div > ul > li > a{
    color: white;
} */