
<form class="text-black p-12">

    <div class="row">
        <div class="col-12">
            <h2>¡Sean bienvenidos!</h2>
            <h5>En este sitio compartiré mis trabajos y un poco de mi.</h5>

        </div>
    </div>

    <hr>

    <div>
        <img src="https://i.imgur.com/mOF9fgi.gif" alt="">
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>¿Quién soy?</h1>
            <p>Mi nombre es Steven Torres Calero, soy alguien que encontró en la programación un lugar interesante y lleno de retos. 
                
            En este mundo tan vasto, me di cuenta de que puedo estar en constante aprendizaje, me encantó inicialmente el lengüaje C#, pero con el transcurso del tiempo conociendo diferentes lengüajes me di cuenta que existían otros bastante interesantes, que no existían solo los lengüajes, que existían también los frameworks, las librerías, las bases de datos...  Y fue así que me interezó profundizar un poco más en ellos, como me ocurrió con Python, Nodejs y Angular (por ejemplo).  
            
            Soy un principiante, pero aquí espero enmarcar mi recorrido en tan interesante mundo con los proyectos que vaya desarrollando y mis gustos particulares.  Nuevamente gracias por estar aquí, espero sea de tu agrado lo que encuentres en el sitio.</p>
        </div>
        <div class="col-12 col-md-6 my-5">
            <div class="row">
                <div class="col-10">
                    <img src="https://i.imgur.com/PrD3jf7.jpg" alt="Mi foto" class="img-fluid shadow">
                </div>
            </div>
        </div>
        <hr>
    </div>
    
</form>

