.banner{
    background-image: url('../../assets/img/BR2.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 10% 5% 10%;
    position: relative;
    z-index: 1;
    
}

.banner::after{
    content: '';
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    z-index: -1;
}