

<div class="container-fluid">
    <div class="row p-5 bg-dark text-white">
        <div class="col-12 col-md-3">
            <h4 class="">STC page</h4>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="https://www.google.com/maps/place/Envigado,+Antioquia/@6.1617765,-75.6066483,14z/data=!4m15!1m8!3m7!1s0x8e4682493b86ae61:0xe3a1b3e88840ab4!2sEnvigado,+Antioquia!3b1!8m2!3d6.1672865!4d-75.5836963!16zL20vMDdodnFz!3m5!1s0x8e4682493b86ae61:0xe3a1b3e88840ab4!8m2!3d6.1672865!4d-75.5836963!16zL20vMDdodnFz?hl=es" target="_blank">Envigado - Antioquia.</a>
            </div>
            <div>
                <a href="#"><button type="button" class="btn btn-outline-warning my-5"><i class="bi bi-arrow-up-square"></i> Subir</button></a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <h4 class="mb-3">Otros</h4>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Blog</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Proyectos</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Certificados</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Videojuegos</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Anime</a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <h4 class="mb-3">Links</h4>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Terms & conditions</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <h4 class="mb-3">Contácto</h4>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="https://www.linkedin.com/in/steven-torres-calero/" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="https://github.com/SirtWood" target="_blank"><i class="bi bi-github"></i> Github</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="mailto:stclink@gmail.com"><i class="bi bi-envelope"></i> stclink@gmail.com</a>
            </div>
            <div class="mb-2">
                <a class="text-secondary text-decoration-none" href="https://drive.google.com/file/d/1cpSsBN3CKeVCdA1eiDAyjb99KoEc2ubi/view?usp=sharing" target="_blank"><i class="bi bi-file-person"></i> Hoja de vida</a>
            </div>
        </div>
        <div class="col-xs-12 pt-5">
            <h6 class="text-secondary text-center">&copy; Created by STC - 2023</h6>
        </div>
    </div>
</div>


